{% include "includes/navbar.html" %}
{% extends "layout.html" %}

{% block body %}
{% from "includes/formshelpers.html" import render_field %}
<div class = "container">
    <div class="rpaDescription">
        <br>
        <h3>Şifre Değiştirme</h3>
        <br>
        <small>Şifrenizi değiştirmek istiyorsanız, aşağıdaki alanları doldurarak "Şifre Değiştir" butonuna tıklayınız.</small>
        <br>
        <hr>
        <br>
    </div>

    <div class="rpaContent">
        <form id="rpaForm" method = "post">
            {{ render_field(form.oldpw, class = "form-control") }}
            {{ render_field(form.newpw, class = "form-control") }}
            {{ render_field(form.confirm, class = "form-control") }}
            <br>
            <button type="submit" class="btn btn-primary"><b>Şifre Değiştir</b></button>
        </form>
    </div>
<br>
</div>
{% endblock body %}